node_modules
dist

# Keep environment variables out of version control
.env

# SQLite Database / DB Journal files
*.db
*.db-journal

# Package manager - Yarn
.pnp.*
.yarnrc.yml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.vscode
.idea

# macOS
.DS_Store
